

<%= form_for comment, 
    :url => post_comments_path(comment.post.id),
    :html => { :class => "form-horizontal comment-form" } do |f| %>
  <div class="form-group">
    <%= f.label :author, "Your Name" %>
    <%= f.text_field :author, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :content, "Your Comment" %>
    <%= f.text_area :content, :rows => 6, :class => "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.submit "Create Comment", :class => "btn btn-primary form-control" %>
  </div>
<% end %>

